

footer {
    background-color: $negro;
    color: #F4EAE0;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 20px $dorado;
    font-family: "Bebas Neue", serif;
    text-transform: uppercase;

}