.div-promohamburguesa{

    img{
            
        width: 100%;
        height: 100% !important;
    
}
    padding: 35px;
    background-color: $negro;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div-promohamburguesa-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        .h2-promohamburguesa{

            color: $blanco;

        }
        
        .h3-promohamburguesa{
            color: $blanco;
            padding: 30px;
        }

    }
    .boton-bait-promohamburguesa{
                padding: 30px;
                color: $negro;
                text-decoration: none;
                border: 0;
                border-radius: 5px;
                box-shadow: 0 0 20px;
                background-color: $dorado;
                font-family: "Bebas Neue", serif;
                text-transform: uppercase;
                font-size: 20px;
                
                display: inline-block;
                transition: transform 0.2s ease-in-out 1s;
               
                     
        
    }
   

    .boton-bait-promohamburguesa:hover {
          transform: translateX(400px);
          transition-delay: 0s; 
      }

    .boton-bait-promohamburguesa:focus{
        transform: translateX(-400px);
         transition-delay: 0s; 
    }


    
   
}